<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="WebApplication1.SiteMaster" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="uc" %>
<%--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">--%>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head id="Head1" runat="server">
    <title></title>


    <style type="text/css">
body{
    background:url('http://www.wallpaperup.com/uploads/wallpapers/2012/10/21/20181/cad2441dd3252cf53f12154412286ba0.jpg');
    padding:50px;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

.modal {
}
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
}
    </style>




    <link href="~/Styles/Site.css" rel="stylesheet" type="text/css" />

<!-- Bootstrap -->
     <%-- <link href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel = "stylesheet"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css"/>--%>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  
  
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/> 
      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      
      <!--[if lt IE 9]>
      <script src = "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src = "https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->



<%-- Used links for References --%>
    <link media="screen" rel="stylesheet" href='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css' />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-footable/0.1.0/css/footable.min.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-footable/0.1.0/js/footable.min.js"></script>
    <script type="text/javascript">
        /* Applied Responsive For Grid View using footable js*/
        $(function () {
            $('[id*=GridView1]').footable();
        });    
    </script>

    <asp:ContentPlaceHolder ID="HeadContent" runat="server">   </asp:ContentPlaceHolder>

    <style type="text/css">
    body{font-family: Arial;font-size: 10pt;}
    .main_menu{width: 130px; background-color: #fff;border: 1px solid #ccc !important; color: #000;text-align: center;height: 30px;line-height: 30px;margin-right: 5px;z-index:10;position: relative;}
    .level_menu{width: 130px; background-color: #fff; color: #333;border: 1px solid #ccc !important;text-align: center;height: 30px;line-height: 30px;margin-top: 5px;z-index:10;position: relative;}
    .selected{background-color: #9F9F9F;color: #fff;}
    input[type=text], input[type=password]{width: 200px;}
    table{border: 1px solid #ccc;}
    table th { background-color: #F7F7F7;color: #333;font-weight: bold;}
    table th, table td { padding: 5px; border-color: #ccc; }
</style>
</head>
<body>
    <form id="Form2" runat="server">
        <nav class="navbar navbar-inverse  navbar-fixed-top"  role="navigation" >                  
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
             
                </div>



            <%--                <div class="loginDisplay">
                <asp:LoginView ID="HeadLoginView" runat="server" EnableViewState="false">
                    <AnonymousTemplate>
                        [ <a href="~/Login.aspx" ID="HeadLoginStatus" runat="server">Log In</a> ]
                    </AnonymousTemplate>
                    <LoggedInTemplate>
                        Welcome <span class="bold"><asp:LoginName ID="HeadLoginName" runat="server" /></span>!
                        [ <asp:LoginStatus ID="HeadLoginStatus" runat="server" LogoutAction="Redirect" LogoutText="Log Out" LogoutPageUrl="~/Login.aspx"/> ]
                    </LoggedInTemplate>
                </asp:LoginView>
            </div>
            <div class="clear hideSkiplink">
            <asp:SiteMapDataSource ID="SiteMapDataSource1" runat="server" ShowStartingNode="false"
        SiteMapProvider="SiteMap" />
                <asp:Menu ID="NavigationMenu" runat="server" DataSourceID="SiteMapDataSource1" CssClass="menu" EnableViewState="false" IncludeStyleBlock="false" Orientation="Horizontal" OnMenuItemDataBound="OnMenuItemDataBound">
                    <LevelMenuItemStyles>
                        <asp:MenuItemStyle CssClass="main_menu" />
                        <asp:MenuItemStyle CssClass="level_menu" />
                    </LevelMenuItemStyles>
                </asp:Menu>
            </div>--%>
        </div>


                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a   href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
                        <li><a href="aboutus.html">
                            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> About</a></li>
                        <li class="dropdown">
                            <a href="index.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> 
                          <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Menu <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="contactus.html#">Main Courses</a></li>
                                <li><a href="contactus.html#">Bootstrap</a></li>
                                <li><a href="contactus.html#">Asp</a></li>
                                <li><a href="contactus.html#">SQl</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">PHP</li>
                                <li><a href="contactus.html#">MySQl</a></li>

 

                            </ul>

                        
                        <li><a href="#"><span class="fa fa-envelope-o"></span> Contact</a></li>
                    
                    
    
                    </ul>
                   <ul class="nav navbar-nav navbar-right">
                   <%--<li><a data-toggle="modal" data-target="#loginModal"><span class="glyphicon glyphicon-log-in"></span> login</a></li>--%>
                    <%if (HttpContext.Current.User.Identity.IsAuthenticated)
                          Response.Write("<li><a href='Login.aspx'><span class='glyphicon glyphicon-log-out'></span> logout</a></li>");
                      else
                          Response.Write("<li><a data-toggle='modal' data-target='#loginModal'><span class='glyphicon glyphicon-log-in'></span> login</a></li>");%> 
                   
                         <li>                     
                     <asp:LoginView ID="HeadLoginView" runat="server" EnableViewState="false">
                    <AnonymousTemplate>
                        [ <a  data-toggle='modal' data-target='#loginModal' ID="HeadLoginStatus" runat="server"><span class='glyphicon glyphicon-log-in'></span> login</a> ]
                    </AnonymousTemplate>
                    <LoggedInTemplate>
                    <div class="glyphicon glyphicon-log-in">
                        Welcome <span class="bold"><asp:LoginName ID="HeadLoginName" runat="server" /></span>!<br />
                        <span class='glyphicon glyphicon-log-in'></span>
                        <span class='glyphicon glyphicon-log-in'></span>
                        <asp:LoginStatus ID="HeadLoginStatus" runat="server" LogoutAction="Redirect" LogoutText="Log Out" LogoutPageUrl="~/Login.aspx"/>
                    </div>
                    </LoggedInTemplate>
                </asp:LoginView>
                </li>   
                      </ul>
                </div>
            </div>
       </nav>
    
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="vertical-alignment-helper">
          <div class="modal-dialog modal-sm">
          <div class="vertical-align-center">
            <div class="modal-content">
				<div class="loginmodal-container">
					<h1>Login to Account</h1><br>
		
                  <center>
					<asp:TextBox ID="User" runat="server" class="form-control input-sm" placeholder="UserName"></asp:TextBox>
                    <br />
					<asp:TextBox ID="Password" runat="server" class="form-control input-sm" placeholder="Password"></asp:TextBox>
                    <asp:CheckBox ID="RememberMe" runat="server" Text="Remember me" />
                    <br />
					<asp:Button runat="server" OnClick="ValidateUser" Text="Sign in" class="btn btn-info btn-sm"/>
                    <asp:button  runat="server" Text="Cancel" class="btn btn-default btn-sm" data-dismiss="modal"/> 
                    
                    </center>

					
				  <div class="login-help">
					<a data-toggle="modal" data-target="#registerModal" data-dismiss="modal">Register</a>
				  </div>
				</div>
			</div>
		  </div>
    </div>
    </div>
    </div>




<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="vertical-alignment-helper">
          <div class="modal-dialog modal-sm">
          <div class="vertical-align-center">
            <div class="modal-content">
				<div class="loginmodal-container">
					<h1>Register to Account</h1><br>
				  
                  <center>
					<asp:TextBox ID="TextBox1" runat="server" class="form-control input-sm" placeholder="UserName"></asp:TextBox>
                    <br />
					<asp:TextBox ID="TextBox2" runat="server" class="form-control input-sm" placeholder="Password"></asp:TextBox>
                    <asp:CheckBox ID="CheckBox1" runat="server" Text="Remember me" />
                    <br />
					<asp:Button ID="Button1" runat="server" OnClick="ValidateUser" Text="Sign in" class="btn btn-info btn-sm"/>
                    <asp:button ID="Button2"  runat="server" Text="Cancel" class="btn btn-default btn-sm" data-dismiss="modal"/> 
                    
                    </center>
				 
					
				  <div class="login-help">
					<a data-toggle="modal" data-target="#loginModal" data-dismiss="modal">Login</a>
				  </div>
				</div>
			</div>
		  </div>
    </div>
    </div>
    </div>

            <%--<div class="loginDisplay">
                <asp:LoginView ID="HeadLoginView" runat="server" EnableViewState="false">
                    <AnonymousTemplate>
                        [ <a href="~/Login.aspx" ID="HeadLoginStatus" runat="server">Log In</a> ]
                    </AnonymousTemplate>
                    <LoggedInTemplate>
                        Welcome <span class="bold"><asp:LoginName ID="HeadLoginName" runat="server" /></span>!
                        [ <asp:LoginStatus ID="HeadLoginStatus" runat="server" LogoutAction="Redirect" LogoutText="Log Out" LogoutPageUrl="~/Login.aspx"/> ]
                    </LoggedInTemplate>
                </asp:LoginView>
            </div>
            <div class="clear hideSkiplink">
            <asp:SiteMapDataSource ID="SiteMapDataSource1" runat="server" ShowStartingNode="false"
        SiteMapProvider="SiteMap" />
                <asp:Menu ID="NavigationMenu" runat="server" DataSourceID="SiteMapDataSource1" CssClass="menu" EnableViewState="false" IncludeStyleBlock="false" Orientation="Horizontal" OnMenuItemDataBound="OnMenuItemDataBound">
                    <LevelMenuItemStyles>
                        <asp:MenuItemStyle CssClass="main_menu" />
                        <asp:MenuItemStyle CssClass="level_menu" />
                    </LevelMenuItemStyles>
                </asp:Menu>
            </div>
        </div>--%>
        <div class="main">
        dfdf
        dfdfd
        dfdfd
            <asp:ContentPlaceHolder ID="MainContent" runat="server"/>
        </div>
        <div class="clear">
        </div>
  
    <div class="footer">
        
    </div>
</form>
</body>
